Dataset: https://www.kaggle.com/datasets/netflix-inc/netflix-prize-data

In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('netflix').getOrCreate()
spark

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/04/12 17:34:20 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
spark_df = spark.read.csv("datasets/Netflix/Netflix_User_Ratings.csv", header=True, inferSchema=True)

In [4]:
spark_df.show()

+-------+------+----------+-------+
| CustId|Rating|      Date|MovieId|
+-------+------+----------+-------+
|1488844|     3|2005-09-06|      1|
| 822109|     5|2005-05-13|      1|
| 885013|     4|2005-10-19|      1|
|  30878|     4|2005-12-26|      1|
| 823519|     3|2004-05-03|      1|
| 893988|     3|2005-11-17|      1|
| 124105|     4|2004-08-05|      1|
|1248029|     3|2004-04-22|      1|
|1842128|     4|2004-05-09|      1|
|2238063|     3|2005-05-11|      1|
|1503895|     4|2005-05-19|      1|
|2207774|     5|2005-06-06|      1|
|2590061|     3|2004-08-12|      1|
|   2442|     3|2004-04-14|      1|
| 543865|     4|2004-05-28|      1|
|1209119|     4|2004-03-23|      1|
| 804919|     4|2004-06-10|      1|
|1086807|     3|2004-12-28|      1|
|1711859|     4|2005-05-08|      1|
| 372233|     5|2005-11-23|      1|
+-------+------+----------+-------+
only showing top 20 rows

In [5]:
spark_df.groupby('MovieId').avg('Rating').sort('MovieId').show()

+-------+------------------+
|MovieId|       avg(Rating)|
+-------+------------------+
|      1| 3.749542961608775|
|      2|3.5586206896551724|
|      3|3.6411530815109345|
|      4|  2.73943661971831|
|      5|3.9192982456140353|
|      6| 3.084396467124632|
|      7| 2.129032258064516|
|      8|3.1898054996646548|
|      9|2.6210526315789475|
|     10| 3.180722891566265|
|     11|3.0303030303030303|
|     12|3.4175824175824174|
|     13|             4.552|
|     14|3.0254237288135593|
|     15| 3.286206896551724|
|     16|3.0985550203779177|
|     17|  2.90320765334834|
|     18|3.7843685879500093|
|     19| 3.324675324675325|
|     20| 3.146551724137931|
+-------+------------------+
only showing top 20 rows

In [6]:
spark_df.groupby('CustId').avg('Rating').sort('CustId').show()

+------+------------------+
|CustId|       avg(Rating)|
+------+------------------+
|     6|   3.4185303514377|
|     7| 4.011350737797957|
|     8| 4.214285714285714|
|    10|3.3923076923076922|
|    25|3.4814814814814814|
|    33|              3.75|
|    42|          3.921875|
|    59|3.7070063694267517|
|    79| 3.548994974874372|
|    83|           3.96875|
|    87|3.6226415094339623|
|    94| 3.424778761061947|
|    97| 3.233201581027668|
|   116| 4.185022026431718|
|   126| 4.673469387755102|
|   130| 4.046511627906977|
|   131|3.1755725190839694|
|   133|3.3333333333333335|
|   134| 4.710990502035278|
|   142|3.3333333333333335|
+------+------------------+
only showing top 20 rows

In [7]:
spark_df.show()

+-------+------+----------+-------+
| CustId|Rating|      Date|MovieId|
+-------+------+----------+-------+
|1488844|     3|2005-09-06|      1|
| 822109|     5|2005-05-13|      1|
| 885013|     4|2005-10-19|      1|
|  30878|     4|2005-12-26|      1|
| 823519|     3|2004-05-03|      1|
| 893988|     3|2005-11-17|      1|
| 124105|     4|2004-08-05|      1|
|1248029|     3|2004-04-22|      1|
|1842128|     4|2004-05-09|      1|
|2238063|     3|2005-05-11|      1|
|1503895|     4|2005-05-19|      1|
|2207774|     5|2005-06-06|      1|
|2590061|     3|2004-08-12|      1|
|   2442|     3|2004-04-14|      1|
| 543865|     4|2004-05-28|      1|
|1209119|     4|2004-03-23|      1|
| 804919|     4|2004-06-10|      1|
|1086807|     3|2004-12-28|      1|
|1711859|     4|2005-05-08|      1|
| 372233|     5|2005-11-23|      1|
+-------+------+----------+-------+
only showing top 20 rows

In [8]:
spark_df = spark_df.drop('CustId', 'Date')

In [9]:
spark_df.show()

+------+-------+
|Rating|MovieId|
+------+-------+
|     3|      1|
|     5|      1|
|     4|      1|
|     4|      1|
|     3|      1|
|     3|      1|
|     4|      1|
|     3|      1|
|     4|      1|
|     3|      1|
|     4|      1|
|     5|      1|
|     3|      1|
|     3|      1|
|     4|      1|
|     4|      1|
|     4|      1|
|     3|      1|
|     4|      1|
|     5|      1|
+------+-------+
only showing top 20 rows